footer {
    position: sticky;
    top: 100%;
    background-color: $bar-bg;
    width: 100vw;
    padding: 20px 0;

}
.footer {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}