//  font-family: 'Georama', sans-serif;

$font-color: #fafafa;
$font-main: 'Georama', sans-serif;

$bar-bg: rgb(24, 46, 53);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1d1e1f;
    color: $font-color;
    font-family: $font-main
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}
ul {
    max-width: 1140px;
    
}
li {
    list-style-type: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

@import 'navbar';
@import 'auth';
@import 'footer';