//  font-family: 'Roboto', sans-serif;

$font-color: #fafafa;
$font-roboto: 'Roboto', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1f1313;
    color: $font-color;
    font-family: $font-roboto;
}
.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}
ul {
    max-width: 1120px;
    
}
li {
    list-style-type: none;
}
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

@import 'navbar';
@import 'auth';
@import 'footer';